html{
    position: relative;
    min-height: 100%;
}
body{
    font-family: "Open Sans", sans-serif;
    padding-top:70px;
    background: #222;
    color: #BBB;
    margin-bottom: 60px;
}
header{
    font-family: "Satisfy", sans-serif;
    text-align:center;
}
h1{
    font-size:54px;
}
.navbar{
    background: #333;
}
.navbar-brand{
    font-family: "Satisfy",sans-serif;
}
#logo{
    max-width: 30%;
    height:auto;
}
#cover{
    font-size:20px;
    text-align:center
}
code{
    background: #333;
}
.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
}
.jumbotron{
    background: #333;
}
