# Binaries
vipster/vipster
tests/test_libvipstertest
# C++ build files
libvipster/json.hpp
*.o
*.so*
# Emscripten
*.js
*.html
# Qt
Makefile
qrc_*
ui_*
moc_*
*.moc

# Test files
*.xyz
*.pwi
*.pwo
*.png
*.cub
*.cpi
*.emp
*.sum
*.lmp

# vim swap files
*.swp
*.swo

# qt-creator stuff
*.pro.user
*.autosave
