# C++ build files
build*/
*.o
*.so*
# Emscripten
*.js
*.html
*.wasm
# Qt
Makefile
qrc_*
ui_*
moc_*
*.moc

# website
gh-pages/

# Test files
*.xyz
*.pwi
*.pwo
*.png
*.cube
*.cpi
*.emp
*.sum
*.lmp
*.lammpstrj
POSCAR
*.xsf
*.

# vim swap files
*.swp
*.swo

# qt-creator stuff
*.user*
*.autosave

# IDEs / editors
.idea/
.vscode/
.eslintrc.json
.ipynb_checkpoints/

# NPM packages
node_modules/
package-lock.json
*.tgz

# python dist-stuff
dist/
vipster.egg-info
