#canvas {
    width: 100%;
    height: 100%;
    // display: none;
}

.icon {
  display: inline-block;
  font-size: inherit;
  width: .875em;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}
