main.col-lg {
    position: fixed;
    top: $controls-bar-height;
    left: 0;
    height: calc(100vh - #{$controls-bar-height});
    padding: 0;
}

@include media-breakpoint-up(lg) {
    body {
        height: 100vh;
        overflow: hidden;
    }

    main.col-lg {
        position: static;
        height: 100vh;
    }
}
