#title {
    font-variant-caps: all-small-caps;
    letter-spacing: 0.08em;
    line-height: 1;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-base * 2.75;
    }
}

h2, .h2 {
    color: #fff;
    font-weight: 500;
}

h3, .h3 {
    margin-bottom: .5rem;
    font-weight: 400;
}

#subtitle {
    margin-bottom: 2rem;
    font-size: 20px;

    @include media-breakpoint-down(md) {
        display: none;
    }
}
