body{
    font-family: "Open Sans", sans-serif;
    background: #222;
    color: #BBB;
    margin: 51px 0 0 0;
}
.body-nested{
    margin: 102px 0 0 0;
}

.anchor{
    padding: 102px 0 0 0;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-list{
    position: fixed;
}

.content-body{
    display: flex;
    justify-content: center;
    align-items: start;
}

.content-main{
    width: 100%;
    max-width: 1240px;
}

a{
    color: #337ab7;
    text-decoration: none;
}
a:hover{
    color: #23527c;
    text-decoration: underline;
}

ul.code{
    list-style: none;
    padding: 0;
}

.navbar{
    position: fixed;
    top: 0px;
    height: 50px;
    width: 100%;
    background: #333;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}
.navbar-nested{
    top: 51px;
}

.menu{
    height: 100%;
}

.menuitem{
    height: 100%;
    padding: 0 8px;
}
a.menuitem{
    color: #BBB;
    text-decoration: none;
}
.menuitem:hover{
    background: #666;
}
.menuitem-active{
    background: #111;
}

.highlight{
    background: #333;
    padding: 6px 12px;
    margin: 6px 0px;
    border-radius: 4px;
}
.highlight-nested{
    background: #222;
}
a.highlight{
    color: #BBB;
    text-decoration: none;
}
.highlight-button:hover{
    background: #666;
}

img{
    width: 100%;
}
