[Desktop Entry]
Name=Vipster
Comment=Visual periodic structure editor
GenericName=Vipster
Exec=vipster
Icon=io.github.sgsaenger.vipster
Terminal=false
Type=Application
Categories=Science;
