// Required for _variables.scss
@import "_bootstrap/functions";

// Import variable overrides and then Boootstrap
@import "variables";
@import "_bootstrap/bootstrap";

// Own component styling
@import "_components/type";
@import "_components/btn";
@import "_components/canvas";
@import "_components/sidebar";
@import "_components/widget";


body {
  overflow: hidden;
}

// TODO: add autoprefixer
.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

table {
  border-radius: .25rem;
}

.dropdown-menu {
  max-width: 100%;
}
