<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Vipster</title>
        <link rel="icon" type="image/png" href="images/favicon.png">
        <link rel="stylesheet" href="css/styles.css">
        {%- block header %}
        {%- endblock %}
    </head>
    </body>
        <nav class="navbar">
            <a class="menuitem" href="index.html"> Vipster</a>
            <div class="menu">
            {%- for page in pages %}
                {%- if not page.base %}
                {%- if page == current %}
                <a class="menuitem menuitem-active" href="{{ page.url }}">{{ page.name }}</a>
                {%- else %}
                <a class="menuitem" href="{{ page.url }}">{{ page.name }}</a>
                {%- endif %}
                {%- endif %}
            {%- endfor %}
            </div>
        </nav>
        {% if current.base -%}
        <nav class="navbar navbar-nested">
            <div></div>
            <div class="menu">
            {%- for page in pages %}
                {%- if page.base == current.base %}
                {%- if page == current %}
                <a class="menuitem menuitem-active" href="{{ page.url }}">{{ page.name }}</a>
                {%- else %}
                <a class="menuitem" href="{{ page.url }}">{{ page.name }}</a>
                {%- endif %}
                {%- endif %}
            {%- endfor %}
            </div>
        </nav>
        <main class="main-nested">
        {%- else %}
        <main>
        {%- endif -%}
        {% block content %}{% endblock %}
        </main>
    </body>
    <footer>
        <p><a href="#">Back to top</a></p>
        <p>Follow Vipster on <a href="https://github.com/sgsaenger/vipster">GitHub</a></p>
    </footer>
</html>
