{% extends "base.html" %}
{% block content %}
<p>
Vipster supports various different formats describing atomic structures.
It is written with no specific format in mind.
</p>
<p>
Whenever a format provides or requires additional data that is not tied to the atomic structure,
this is encapsulated in a Parameter set.
For example, the control blocks configuring a quantum chemical simulation can be read from a file,
saved and then later be reused for setting up a series of other calculations with other molecules,
but the same calculation settings.
</p>
<p>
If a file format supports multiple ways to print the atomic structure,
this can be controlled with an (output) preset.
These can e.g. be used to select between printing the structure in Ångström with charges
or in Bohr units with the list of bonds.
</p>
<p>
The following plugins are included in a default installation:
</p>

<ul>
{% for f in formats %}
<li>
    <h1>
        {{ f.name }}
        {% if f.hasParser and f.hasWriter %}
        (read/write)
        {% elif f.hasParser %}
        (read only)
        {% elif f.hasWriter %}
        (write only)
        {% endif %}
    </h1>
    <p>Command line argument: --{{ f.command }}</p>
    <p>Default extension: {{ f.extension }}</p>
    {% if f.hasParameters %}
    <h2> Parameters: </h2>
    {% endif %}
    {% if f.hasPresets %}
    <h2> Output preset: </h2>
    {% endif %}
    <p>
</li>
{% endfor %}
</ul>
{% endblock %}
