{% extends "base.html" %}
{% block content %}
<div style="text-align: center;">
<div class="highlight">
<a href="about.html">
    <img id="Logo" src="images/logo.png" alt="Logo" width="645" height="501" style="max-width: 350px; height: auto;">
</a>
<h1> VIPSTER </h1>
<p><b>Vi</b>sual <b>p</b>eriodic <b>st</b>ructure <b>e</b>dito<b>r</b></p>
</div>
<p>
Vipster is a powerful editor for molecular structures.
It's designed from the ground up for periodic simulations,
and it's scriptable in python!
</p>
<a class="highlight highlight-button" href="about.html">About</a>
</div>
{%- endblock %}
