{% extends "base.html" %}
{% block content %}

{% macro traverse(nodes, i) %}
    {% for node in nodes %}
        <li>
            {% if node.type in ["Module", "Class"] %}
                <h{{ i }}>{{ node.type }}: {{ node.name }}</h{{ i }}>
            {% else %}
                <p>{{ node.type }}: {{ node.name }}</p>
            {% endif %}
            {% if node.doc %}
                {{ node.doc }}
            {% endif %}
            {% if node.children %}
                <h{{ i+1 }}>Members:</h{{ i+1 }}>
                <ul>
                    {{ traverse(node.children, i+1) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

<ul>
    {{ traverse(tree, 1) }}
</ul>

{% endblock %}
