body {
    height: 100vh;
    overflow: hidden;
}

main {
    position: relative;
    top: $controls-bar-height;
    height: calc(100vh - #{$controls-bar-height});

    &.col-lg {
        padding: 0;
    }
}

@include media-breakpoint-up(lg) {
    main {
        top: 0;
        height: 100vh;
    }
}
