.btn-default {
  background-color: $theme-gray;
}

.dropdown-menu {
  max-width: 100%;
}

.custom-checkbox {
  .custom-control-label {
    line-height: 1.65rem;
  }
}

.table {
  border-radius: $border-radius;

  thead th {
    border-top: none;
  }
}
