.widget {
  margin-bottom: 1.5rem;
  background: lighten(theme-color('secondary'), 6%);
  padding: 1rem;
  border-radius: $border-radius;

  .input-group {
    flex-grow: 1;
  }
}

#widget-load {
  .dropdown-toggle {
    position: relative;
    width: 100%;
    text-align: left;

    &:after {
      position: absolute;
      right: .75rem;
      margin-top: .6em;
    }
  }
}

#widget-step {
  input[type=range] {
    width: 100%;
  }
}