name: Website
on:
    push:
        branches:
            - master

jobs:
    build:
        name: 'Build (Emscripten)'
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v1
          with:
              submodules: true

        - uses: actions/setup-python@v1
          with:
              python-version: '3.8'

        - uses: mymindstorm/setup-emsdk@v2
          with:
              version: latest

        - name: Configure GCC
          run: |
              # install and enable GCC9
              sudo add-apt-repository ppa:ubuntu-toolchain-r/test
              sudo apt-get update
              sudo apt-get install g++-9
              echo CC=gcc-9 >> $GITHUB_ENV
              echo CXX=g++-9 >> $GITHUB_ENV

        - name: Build Website
          run: |
              pip install vipster Jinja2
              mkdir gh-pages
              python website/setup.py gh-pages

        - name: Configure Vipster
          shell: bash
          run: |
              mkdir -p build
              cd build
              emcmake cmake ..

        - name: Build Vipster
          run: |
              cd build
              cmake --build .
              cp vipster.js ../gh-pages/emscripten

        - uses: alex-page/blazing-fast-gh-pages-deploy@v1.1.0
          with:
              repo-token: ${{ secrets.GH_ACTIONS_PAT }}
              deploy-branch: gh-pages
              site-directory: gh-pages
